<!DOCTYPE HTML>
<html ng-app="app">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="css/estilos_lws_hijos.css">

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery.min.js"></script>

    <!--Bootstrap-->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!--Angular-->
    <script src="../angular/angular.min.js"></script>
    <script src="../angular/angular-sanitize.js"></script>
    <script src="../angular/lib/title.js"></script>
    <script src="../angular/lib/empleo.js"></script>
    <script src="../angular/lib/factory.js"></script>

    <script type="text/javascript">
    function MM_swapImgRestore() { //v3.0
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }
    function MM_preloadImages() { //v3.0
    var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
    }

    function MM_findObj(n, d) { //v4.01
    var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
    if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
    var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
    if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    }
    </script>
    <title ng-controller="titleCtrl">LWS | EMPLEO</title>
</head>
<body ng-controller="empleoCtrl" bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('img/sub-menu_serv_y_sol-ovr_02.png','img/sub-menu_serv_y_sol-ovr_04.png','img/sub-menu_serv_y_sol-ovr_06.png','img/sub-menu_serv_y_sol-ovr_08.png','img/ss_img_bt_ojo-ovr-07.png')">




<div>
  <table align="center" width="1024" height="44px" border="0" cellspacing="0" cellpadding="0" background="img/body_bckg-02.png">
  <tr>
    <td align="center" valign="bottom" background="">
    
    <div style="width:1022px; height:48px; background-image:url(img/header_bckg_04.jpg)">
    
    
     <div style="padding-top:12px;">
      <!-- ImageReady Slices (sub-menu_serv_y_sol.ai) -->
      <table width="892" height="31" border="0" align="center" cellpadding="0" cellspacing="0" id="Tabla_01">
        <tr>
          <td rowspan="2" align="center" valign="middle"><img src="img/sub-menu_serv_y_sol-nm_01.png" width="193" height="31" alt=""></td>
          <td rowspan="2" align="center" valign="middle"><a href="pg_servicios.html" target="_self" onMouseOver="MM_swapImage('bt_servisio','','img/sub-menu_serv_y_sol-ovr_02.png',1)" onMouseOut="MM_swapImgRestore()"><img src="img/sub-menu_serv_y_sol-nm_02.png" name="bt_servisios.html" alt="SERVICIOS" width="120" height="31" border="0"></a></td>
          <td rowspan="2" align="center" valign="middle"><img src="img/sub-menu_serv_y_sol-nm_03.png" width="12" height="31" alt=""></td>
          <td rowspan="2" align="center" valign="middle"><a href="pg_soluciones.html" target="_self" onMouseOver="MM_swapImage('bt_soluciones','','img/sub-menu_serv_y_sol-ovr_04.png',1)" onMouseOut="MM_swapImgRestore()"><img src="img/sub-menu_serv_y_sol-nm_04.png" alt="SOLUCIONES" name="bt_soluciones" width="122" height="31" border="0"></a></td>
          <td rowspan="2" align="center" valign="middle"><img src="img/sub-menu_serv_y_sol-nm_05.png" width="10" height="31" alt=""></td>
          <td align="center" valign="middle"><a href="pg_empleo.html" target="_self" onMouseOver="MM_swapImage('bt_secc_empleo','','img/sub-menu_serv_y_sol-ovr_06.png',1)" onMouseOut="MM_swapImgRestore()"><img src="img/sub-menu_serv_y_sol-nm_06.png" alt="EMPLEO" name="bt_secc_empleo" width="88" height="30" border="0"></a></td>
          <td align="center" valign="middle"><img src="img/sub-menu_serv_y_sol-nm_07.png" width="11" height="30" alt=""></td>
          <td rowspan="2" align="center" valign="middle"><a href="pg_envia_cv.html" target="_self" onMouseOver="MM_swapImage('bt_envia_cv','','img/sub-menu_serv_y_sol-ovr_08.png',1)" onMouseOut="MM_swapImgRestore()"><img src="img/sub-menu_serv_y_sol-nm_08.png" alt="ENVIA TU C.V." name="bt_envia_cv" width="139" height="31" border="0"></a></td>
          <td rowspan="2" align="center" valign="middle"><img src="img/sub-menu_serv_y_sol-nm_09.png" width="197" height="31" alt=""></td>
        </tr>
       
      </table>
      <!-- End ImageReady Slices -->
    </div>
    
    
    </div></td>
  </tr>
</table>

</div>



<div style="z-index:1">

<table class="tb_bckgnd_contenedor" width="1024px" height="100%" align="center" cellpadding="0" cellspacing="0">


 	<tr>
    	<td height="192" align="center" valign="top">
        	<table width="893px" height="192" align="center">
    			<tr>
          		<td colspan="3" align="center" valign="middle" height="15px;"> <img style="padding-bottom:0px; padding-top:15px;" src="img/line_separador-02.png" height="2px"></td>
   				 </tr>
        
<tr>
	<td width="893px" height="62">
    
 <!--INICIA TABLA DE SERVICIOS
    -->
    
    
    <div class="shadow" style=" width:742px; height:200px; background-image:url(img/ss_img-empleo-08.png); margin-left:75.5px; margin-top:20px; z-index:10;">
    
    <div style="padding-top:3px;"></div>
    <div style="width:350px; height:75px; margin-top:65px; margin-left:190px; background:#87C3E7; opacity: 0.7; z-index:11;"><p style="color:#1B1464; font-family: oswaldregular; font-size: 36px; margin: 0; padding-top: 15px; text-align: center;">NUEVAS OFERTAS</p></div>  
        <div style=" margin-left:35px; margin-right:35px; padding-top:15px;">
        </div>
    </div>
    
    <br>
    

      <div class="txt_oswald_r" style=" width:893px; background-color:#CC0099; font-style:normal; color:#FFF; text-align:center; padding-top:15px; padding-bottom:5px; height:70px; alignment-adjust:central">
        <div class="col-md-12">
          <div class="col-md-3" style="padding-top:5px;">
             <input style="font-size: 13px; height: 30px; width: 220px;" type="text" class="form-control" placeholder="Palabras clave" aria-describedby="sizing-addon1" id="">
          </div>
          <div class="col-md-3" style="padding-top:7px; padding-left:40px;">
             <select style="display: block; width: 200px;" onchange="" id="estado" name="estados">
                <option value="Todas las zonas">Todas las zonas</option>
                <option value="Todo México">Todo México</option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Baja California">Baja California</option>
                <option value="Baja California Sur">Baja California Sur</option>
                <option value="Campeche">Campeche</option>
                <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                <option value="Colima">Colima</option>
                <option value="Chiapas">Chiapas</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Distrito Federal">Distrito Federal</option>
                <option value="Durango">Durango</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="México">México</option>
                <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
                <option value="Yucatán">Yucatán</option>
                <option value="Zacatecas">Zacatecas</option>
                <option value="Todo Estados Unidos">Todo Estados Unidos</option>
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="District Of Columbia">District Of Columbia</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
             </select>
          </div>
          <div class="col-md-3" style="padding-top:7px; padding-left:40px;">
             <select style="display: block; width: 200px;" onchange="" id="">
                <option value="Todas las categorías">Todas las categorías</option>
                <option ng-repeat="(key,x) in todasCategorias.cat" value="{{x}}">{{x}}</option>
             </select>
          </div>
          <div class="col-md-3" style="padding-top:5px; padding-left:40px;">
              <button type="submit" style="background-color:#60BFDB; height: 30px; width:150px; color:#fff; font-family: oswaldregular; cursor:pointer;" onclick="">ENVIAR</button>
          </div>
        </div>
      </div>
      
            <div class="txt_oswald_r" style="font-size:14px; width:893px; background-color:#B7DBF0; font-style:normal; color:#000; text-align:center; padding-top:15px; padding-bottom:5px; height:50px; alignment-adjust:central">
              <div class="col-md-12">
                <div class="col-md-2" style="padding:0;">
                  <input type="checkbox" name="" value="" checked> FREELANCE
                </div>
                <div class="col-md-2" style="padding:0;">
                  <input type="checkbox" name="" value="" checked> INTERNADO
                </div>
                <div class="col-md-2" style="padding:0;">
                  <input type="checkbox" name="" value="" checked> MEDIO TIEMPO
                </div>
                <div class="col-md-2" style="padding:0;">
                  <input type="checkbox" name="" value="" checked> ROL DE TURNOS
                </div>
                <div class="col-md-2" style="padding:0;">
                  <input type="checkbox" name="" value="" checked> TEMPORAL
                </div>
                <div class="col-md-2" style="padding:0;">
                  <input type="checkbox" name="" value="" checked> TIEMPO COMPLETO
                </div>
              </div>
            </div>
            
            <div class="txt_oswald_r" style=" width:893px; background-color:#E1E8EC; font-style:normal; text-align:center; height:30px; alignment-adjust:central">
              <p style="font-family: oswaldregular; color: #CC0099; padding-top: 5px; margin:0;">MOSTRANDO TODOS LOS EMPLEOS</p>
            </div>
            
            <div class="row" style="margin-bottom: 2px;">
              
              <div ng-repeat="(key,x) in todasVacantes.id" class="col-md-12">
                <div class="col-md-1" style="background-color: #fff; height: 70px; padding:0; text-align:center;">
                  <img style="width:50px; padding-top: 10px;" src="img/jobs.png"></img>
                </div> 
                <div class="col-md-4" style="background-color: #fff; height: 70px; padding:0;">
                  <p style="font-family: oswaldregular; color: #000; font-size: 15px; padding-top: 22px; padding-left: 5px;">{{todasVacantes.categoria[key]}}</p>
                </div> 
                <div class="col-md-1" style="background-color: #fff; height: 70px; padding-left:35px;">
                  <img style="width:35px; padding-top:15px;" src="img/ubicacion.png"></img>
                </div> 
                <div class="col-md-3" style="background-color: #fff; height: 70px; padding:0;">
                  <p style="font-family: oswaldregular; color: #787878; font-size: 15px; padding-top:22px;">{{todasVacantes.estado[key]}}</p>
                </div> 
                <div class="col-md-3" style="background-color: #fff; height: 70px; padding:15px;">
                  <button type="submit" style="background-color:#DA57AD; height: 35px; width:175px; color:#fff; font-family: oswaldregular; cursor:pointer;" onclick="">{{todasVacantes.tipoTiempo[key]}}</button>
                </div> 
              </div>
              
            </div>
            
       <br>     
            
       <div style="text-align: center;">
         <button type="submit" style="background-color:#60BFDB; height: 35px; width:150px; color:#fff; font-family: oswaldregular; cursor:pointer;" ng-click="incrementarHoja();" class="glyphicon glyphicon-plus">VER MÁS</button>
       </div>
    
        <!--TERMINA TABLA DE SERVICIOS
    -->
    

    
    
	</td>
</tr>
             
           <tr>
  			 		<td width="893" height="70" colspan="3" align="center" valign="bottom" background="#CC0099">
  <div class="txt_oswald_r" style=" width:893px; background-color:#CC0099; font-style:normal; color:#FFF; text-align:center; padding-top:15px; padding-bottom:5px; height:45px; alignment-adjust:central">®2014&nbsp; LINKWORK SOLUTIONS   &nbsp;•&nbsp;   <a href="pg_aviso.html" target="_self">AVISO DE PRIVACIDAD</a>   &nbsp;•&nbsp;  CONTACTO@LWS.MX   &nbsp;•&nbsp;  TEL. 01 (55) 53105263 / 01 (55) 35363857</div>
			 </td>
  			</tr>

            
            </table>
      </td>
    </tr>

</table></div>



</body>
</html>
